*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
font-family: Arial, Helvetica, sans-serif;
height: 100%;
background-color: #E0FBFC;

}

.container{
    color: #293241;
    border-radius: 10px;
    box-sizing: content-box;
    width: 1280px;
    margin: 10px auto;
    background-color: #98C1D9;
}

.artigo{
    vertical-align: top;
    margin: 10px 17px;
    display: inline-block;
    width: 600px;

}

.artigo h1{
    text-align: center;
}

span{
    background-color: #EE6C4D;
}